# Producción Linkare
VITE_APP_MODE=production
VITE_SUPABASE_URL=https://TU_PROJECT_REF.supabase.co
VITE_SUPABASE_ANON_KEY=TU_PUBLISHABLE_O_ANON_KEY

# Wompi App ID y API Secret NO van aquí.
# Se guardan en Supabase Edge Function Secrets:
# WOMPI_CLIENT_ID
# WOMPI_CLIENT_SECRET
